<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/staticFiles/main.css' />
  </head>
  <body>
    <h1>Classificação de Tumores Cerebrais</h1>

<a href="/predict_pair">
   <button>Descobrir classe [Método de pares]</button>
</a>
<br>
<a href="/predict_triple">
   <button>Descobrir classe [Método de triplos]</button>
</a>
<br>
<a href="/pair">
   <button>Similaridade com pares</button>
</a>
<br>
<a href="/triple">
   <button>Similaridade com triplos</button>
</a>
  </body>
</html>